In [3]:
import pandas as pd

In [60]:
data= pd.read_csv("datas/p2-arbres-fr.csv", sep=";") #chargement du fichier CSV dans la variables data
print(data.head(10)) #Affiche les 10 première ligne du fichier pour vérifier que ce dernier est bien chargé

      id type_emplacement domanialite   arrondissement complement_addresse  \
0  99874            Arbre      Jardin   PARIS 7E ARRDT                 NaN
1  99875            Arbre      Jardin   PARIS 7E ARRDT                 NaN
2  99876            Arbre      Jardin   PARIS 7E ARRDT                 NaN
3  99877            Arbre      Jardin   PARIS 7E ARRDT                 NaN
4  99878            Arbre      Jardin  PARIS 17E ARRDT                 NaN
5  99879            Arbre      Jardin  PARIS 17E ARRDT                 NaN
6  99880            Arbre      Jardin  PARIS 17E ARRDT                 NaN
7  99881            Arbre      Jardin  PARIS 16E ARRDT                 NaN
8  99882            Arbre      Jardin  PARIS 16E ARRDT                 NaN
9  99883            Arbre      Jardin  PARIS 16E ARRDT                 NaN

   numero                                               lieu id_emplacement  \
0     NaN          MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E             19
1     NaN          MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E             20
2     NaN          MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E             21
3     NaN          MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E             22
4     NaN         PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING       000G0037
5     NaN         PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING       000G0036
6     NaN         PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING       000G0035
7     NaN  SQUARE ALEXANDRE ET RENE PARODI / 1 PLACE DE L...             35
8     NaN           JARDIN DE L AVENUE FOCH / 10 AVENUE FOCH         802008
9     NaN           JARDIN DE L AVENUE FOCH / 10 AVENUE FOCH         802009

  libelle_francais      genre         espece variete  circonference_cm  \
0       Marronnier   Aesculus  hippocastanum     NaN                20
1               If      Taxus        baccata     NaN                65
2               If      Taxus        baccata     NaN                90
3           Erable       Acer        negundo     NaN                60
4     Arbre à miel  Tetradium      daniellii     NaN                38
5     Arbre à miel  Tetradium      daniellii     NaN                38
6     Arbre à miel  Tetradium      daniellii     NaN                37
7          Platane   Platanus    x hispanica     NaN               260
8          Sophora    Sophora       japonica     NaN               145
9          Sophora    Sophora       japonica     NaN               135

   hauteur_m stade_developpement  remarquable  geo_point_2d_a  geo_point_2d_b
0          5                 NaN          0.0       48.857620        2.320962
1          8                   A          NaN       48.857656        2.321031
2         10                   A          NaN       48.857705        2.321061
3          8                   A          NaN       48.857722        2.321006
4          0                 NaN          NaN       48.890435        2.315289
5          0                 NaN          NaN       48.890470        2.315228
6          0                 NaN          NaN       48.890504        2.315168
7         17                 NaN          NaN       48.876722        2.280222
8         14                   A          0.0       48.871990        2.275814
9         10                   A          0.0       48.872046        2.275752

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200137 entries, 0 to 200136
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   200137 non-null  int64
 1   type_emplacement     200137 non-null  object
 2   domanialite          200136 non-null  object
 3   arrondissement       200137 non-null  object
 4   complement_addresse  30902 non-null   object
 5   numero               0 non-null       float64
 6   lieu                 200137 non-null  object
 7   id_emplacement       200137 non-null  object
 8   libelle_francais     198640 non-null  object
 9   genre                200121 non-null  object
 10  espece               198385 non-null  object
 11  variete              36777 non-null   object
 12  circonference_cm     200137 non-null  int64
 13  hauteur_m            200137 non-null  int64
 14  stade_developpement  132932 non-null  object
 15  remarquable          137039 non-null  float64
 16  geo_point_2d_a       200137 non-null  float64
 17  geo_point_2d_b       200137 non-null  float64
dtypes: float64(4), int64(3), object(11)
memory usage: 27.5+ MB

In [64]:
dimension = data.shape
print(f"Le nombre de ligne du dataFrame {dimension[0]}")
print(f"Le nombre de colonne du dataFrame {dimension[1]}")

Le nombre de ligne du dataFrame 200137
Le nombre de colonne du dataFrame 18

In [66]:
data.describe()

,id,numero,circonference_cm,hauteur_m,remarquable,geo_point_2d_a,geo_point_2d_b
count,2.001370e+05,0.0,200137.000000,200137.000000,137039.000000,200137.000000,200137.000000
mean,3.872027e+05,NaN,83.380479,13.110509,0.001343,48.854491,2.348208
std,5.456032e+05,NaN,673.190213,1971.217387,0.036618,0.030234,0.051220
min,9.987400e+04,NaN,0.000000,0.000000,0.000000,48.742290,2.210241
25%,1.559270e+05,NaN,30.000000,5.000000,0.000000,48.835021,2.307530
50%,2.210780e+05,NaN,70.000000,8.000000,0.000000,48.854162,2.351095
75%,2.741020e+05,NaN,115.000000,12.000000,0.000000,48.876447,2.386838
max,2.024745e+06,NaN,250255.000000,881818.000000,1.000000,48.911485,2.469759

Matplotlib is building the font cache; this may take a moment.